/* Additional styles */
.navbar-default {
  background-color: white;
}

.navbar-default .navbar-brand {
  color: dodgerblue;
}

.nav.navbar-nav li a {
     color: dodgerblue !important;
 }
 .nav .navbar-nav li a:hover {
     color: dodgerblue !important;
 }

.navbar-brand {
  color: dodgerblue;
}

.extendfull, .extendleft
{
	padding-left: 3000px;
	margin-left: -3000px;
}

.extendfull, .extendright
{
	padding-right: 3000px;
	margin-right: -3000px;
}

.core-body h1 {
  font-weight: 200;
}

.core-body h2{
  font-weight: 200;
}

.core-body p {
  font-size: 145%;
}

.core-body {
  font-weight: 200;
  line-height: 250%;
}

.get-started-now {
  background-color: white;
  overflow-x: hidden;
}

footer h4 {
  font-weight: bold;
}

footer {
  color: gray;
  line-height: 200%;
  font-weight: 500;
}

body {
  font-family: "Open Sans";
  background-color: #FBFBFB;
  overflow-x: hidden;
}

/* My standard vertical spacing classes */

.padding-inside-top-xs {
  padding-top: 10px;
}

.padding-inside-top-sm {
  padding-top: 20px;
}

.padding-inside-top-md {
  padding-top: 50px;
}

.padding-inside-top-lg {
  padding-top: 150px;
}

.padding-inside-top-xl {
  padding-top: 200px;
}

.padding-inside-bottom-xs {
  padding-bottom: 10px;
}

.padding-inside-bottom-sm {
  padding-bottom: 20px;
}

.padding-inside-bottom-md {
  padding-bottom: 50px;
}

.padding-inside-bottom-lg {
  padding-bottom: 150px;
}

.padding-inside-bottom-xl {
  padding-bottom: 200px;
}

.margin-above-top-xs {
  margin-top: 10px;
}

.margin-above-top-sm {
  margin-top: 20px;
}

.margin-above-top-md {
  margin-top: 50px;
}

.margin-above-top-lg {
  margin-top: 150px;
}

.margin-below-bottom-xs {
  margin-bottom: 10px;
}

.margin-below-bottom-sm {
  margin-bottom: 20px;
}

.margin-below-bottom-md {
  margin-bottom: 50px;
}

.margin-below-bottom-lg {
  margin-bottom: 150px;
}

.margin-below-bottom-xl {
  margin-bottom: 200px;
}
